.stripe {
  flex: 1;
  transition: background-color 0.4s ease;
}
.card {
  width: 460px;
  height: 220px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  background: #eee;
  transition: all 0.3s ease;
}

.card div {
  flex: 1;
  height: 100%;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 360px;
    height: 130px;
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 300px;
    height: 120px;
  }
}

@media (max-width: 400px) {
  .card {
    max-width: 220px;
    height: 90px;
  }
}


