.palette {
  display: flex;
  height: calc(100vh - 64px);
}


.color {
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 32px;
}


.actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  opacity: 0;
  transition: 0.2s;
}


.color:hover .actions {
  opacity: 1;
}


.actions button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  font-size: 16px;
}


.color-info {
  text-align: center;
  font-weight: 700;
}

.hex {
  font-size: 30px;
}

.name {
  font-size: 12px;
  opacity: 0.7;
}
@media (max-width: 680px) {
  .palette {
    flex-direction: column;
  }
  .hex {
    font-size: 20px;
  }
}