.letter {
  color: var(--default-color);
}

.letter.anim_color {
  animation-name: letter-color;
  animation-duration: 3s;
  animation-fill-mode: both;
}

@keyframes letter-color {
  0%,
  100% {
    color: var(--default-color);
  }

  15%,
  85% {
    color: var(--color);
  }
}
