.footer-links {
  margin-top: 140px;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}
.footer-column h4 {
  font-size: 12px;
  letter-spacing: 1px;
  color: #b1b7c3;
  margin-bottom: 20px;
}


.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column li {
  font-size: 15px;
  color: #b1b7c3;
  margin-bottom: 14px;
  cursor: pointer;
}

.footer-column li:hover {
  text-decoration: underline;
}


@media (max-width: 1100px) {
  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
  }
}

@media (max-width: 600px) {
  .footer-links {
    grid-template-columns: 1fr;
  }
}

